//
// Name:            Base
//
// Description:     Contains all base styles, including basic resets
//
// ========================================================================
// Component
// ========================================================================
body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  color: $color-white;
  font-family: 'Gotham', sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  margin: 0;
}

a {

}

// Heading styles
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: 72px;
  line-height: 94px;
  @media only screen and (max-width: 768px) {
    font-size: 48px;
    line-height: 72px;
  }
  @media only screen and (max-width: 568px) {
    font-size: 36px;
    line-height: 44px;
  }
}

h2 {
  font-size: 72px;
  line-height: 94px;
  @media only screen and (max-width: 768px) {
    font-size: 48px;
    line-height: 72px;
  }
  @media only screen and (max-width: 568px) {
    font-size: 36px;
    line-height: 44px;
  }
}

h3 {
  font-size: 36px;
  line-height: 44px;
  @media only screen and (max-width: 568px) {
    font-size: 24px;
    line-height: 32px;
  }
}

h4 {
  font-size: 16px;
  line-height: 30px;
}

// Global text styles
p.subtitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

blockquote {
  font-size: 24px;
  font-style: italic;
  line-height: 41px;
  margin: 28px 0;
  padding: 0 40px;
  border-left: 2px #ccc solid;
}

.intro-text {
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 20px;
}
