//
// Name:            Buttons
//
// Description:     Contains all button styles
//
// ========================================================================
// Component
// ========================================================================
.button {
  background: $roosevelt-orange;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 30px 0 rgba(37,55,70,0.45);
  color: $roosevelt-blue-dark;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  line-height: 38px;
  padding: 14px 4vw;
  -webkit-appearance: none;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 40px;
    padding: 17px 5vw;
  }
}
