//
// Name:            Home
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//
// ========================================================================
// Component: Home Page
// ========================================================================

.home,
.page-template-template-home {
  #banner {
    background-image: linear-gradient(48deg, #102B52 0%, #124980 48%, #4D74B0 100%);
    padding: 17.3vw 8.3vw 33vw;

    @media (min-width: 768px) {
      padding: 27.3vw 8.3vw 15.25vw;
    }

    @media (min-width: 1440px) {
      padding: 400px 8.3vw 15.25vw;
    }

    img {
      width: 62vw;
      height: auto;

      &.bg {
        width: 85%;
        max-width: 1080px;
        opacity: .5;
        position: absolute;
        top: 5.1vw;
        right: -23vw;

        @media (min-width: 920px) {
          width: 60%;
          right: -10vw;
        }

        @media (min-width: 1200px) {
          right: -3px;
        }
      }
    }

    p {
      max-width: 22em;
      color: $roosevelt-orange-light;
      margin-top: 20px;

      @media (min-width: 568px) {
        max-width: 28em;
        margin-top: 40px;
      }
    }
  }

  .main__header {
    &__wrap {
      position: relative;
    }

    &__logo {
      max-width: 606px;
    }

    &__accent {
      position: absolute;
      display: block;
      left: 0;

      width: 100%;
      height: 0;

      &-wrap {
        position: absolute;
        width: 100%;
        height: 94vw;
        background: linear-gradient(180deg, #FFFFFF 0%, #E7EEF5 100%);
        z-index: 1;

        &--1 {
          transform: translate(-72%, -48%);
          clip-path: polygon(72% 43%, 85% 51%, 72% 60%);
        }

        &--2 {
          transform: translate(19%, -48%);
          clip-path: polygon(92% 0%, 100% 0%, 100% 100%, 80% 100%, 0% 53%, 0px 50%);
        }
      }

      &__img {
        display: block;
        width: auto;
        height: 73%;
        margin-top: 11.2%;
        margin-left: .6%;

        &__animate {
          position: absolute;
          transition: transform .5s ease-in-out;

          &__wrap {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }

          &.show {
            transform: none !important;
          }

          &:nth-child(1) {
            width: 35%;
            top: 53.4%;
            left: 12.3%;
            transform: translate(-121%, -128%);
          }

          &:nth-child(2) {
            width: 34%;
            top: 39.4%;
            left: 13.6%;
            transform: translate(-60%, -63%);
            transition-delay: .25s;
          }

          &:nth-child(3) {
            width: 39%;
            top: 72%;
            left: 59%;
            transform: translate(56%, 66%);
            transition-delay: .5s;
          }

          &:nth-child(4) {
            width: 32%;
            top: 21.5%;
            left: 59.5%;
            transform: translate(65%, 68%);
            transition-delay: .75s;
          }

          &:nth-child(5) {
            width: 26%;
            top: 54.0%;
            left: 38.0%;
            transform: translate(146%, 165%);
            transition-delay: .75s;
          }

          &:nth-child(6) {
            width: 33%;
            top: 32.2%;
            left: 52.3%;
            transform: translate(90%, 100%);
            transition-delay: .75s;
          }

          &:nth-child(7) {
            width: 23%;
            top: 40.5%;
            left: 40.5%;
            transform: translate(-95%, -100%);
            transition-delay: .75s;
          }

          &:nth-child(8) {
            width: 23%;
            top: 32.7%;
            left: 29.2%;
            transform: translate(-65%, -68%);
            transition-delay: .75s;
          }
        }
      }

      &-inner {
        position: relative;

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 15%;
          width: 300%;
          height: 10vw;
          max-height: 100px;
          transform: translate(-50%, 0%) rotate(-25deg);
          background: linear-gradient(90deg, #FFA200, #FFCF00 33.33%, #FFCF00 66.66%, #FFE900 100%);
          background-size: 400% 400%;
          animation: gradientBG 15s ease infinite;
          z-index: 2;
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 15%;
          width: 300%;
          height: 10vw;
          max-height: 100px;
          background: linear-gradient(-90deg, #17223B, #436C84 33.33%, #17223B 66.66%, #01438D 100%);
          background-size: 400% 400%;
          animation: gradientBG 15s ease infinite;
          transform: translate(-50%, 0%) rotate(30deg);
          z-index: 2;
        }
      }
    }
  }

  .gradient-bg {
    background-image: linear-gradient(48deg, #4D74B0 0%, #124980 52%, #102B52 100%);
  }

  #icons-section {
    padding: 37.4vw 5.8vw 0;

    @media (min-width: 768px) {
      padding: 27.4vw 5.8vw 0;
    }

    @media (min-width: 960px) {
      padding: 22.5vw 5.8vw 0;
    }

    .text-cnt {
      margin-bottom: 50px;
      padding: 0 2.5vw;

      h2 {
        font-size: 40px;
        font-weight: bold;
        line-height: 50px;
        margin-bottom: 0;

        @media (min-width: 768px) {
          font-size: 50px;
          line-height: 60px;
        }

        span {
          display: block;

          &.light-orange {
            color: $roosevelt-orange-light;
          }

          &.dark-orange {
            color: $roosevelt-orange-dark;
          }
        }
      }

      p {
        width: 95%;
        max-width: 520px;
        font-size: 14px;
        line-height: 26px;
        margin-top: 20px;

        @media (min-width: 768px) {
          font-size: 16px;
          line-height: 28px;
        }

        &.primary {
          font-size: 22px;
          font-weight: 600;
          line-height: 28px;

          @media (min-width: 768px) {
            font-size: 24px;
            line-height: 30px;
          }
        }
      }
    }

    .icons-cnt {
      box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.10);
      border-radius: 3px;

      .icons-container {
        background: $color-white;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        opacity: 0;
        padding: 4.2vw;
        transform: translateX(-100%);
        transition: all .25s ease-in-out;

        .icons-row {
          display: flex;
          justify-content: space-between;
          margin-bottom: 3.3vw;
          opacity: 0;
          transform: translateY(50px);

          &:last-child {
            margin-bottom: 0;
          }

          .icon {
            width: 20%;
            padding: 0 1.8vw;
            position: relative;
            opacity:0;
            transform:translate3d(0, 50px, 0);
            transition:.4s;

            img {
              width: 100%;
              height: auto;
            }

            p {
              color: $roosevelt-blue-dark;
              font-size: 10px;
              font-weight: 600;
              line-height: 12px;
              margin-top: 10px;
              text-align: center;
            }
          }
          &.on .icon {
            opacity:1;
            transform:translate3d(0, 0, 0);
          }
        }
      }

      .icons-info {
        position: relative;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: 0;
        z-index: 2;

        .orange-bg {
          background: $roosevelt-orange;
          border-top-right-radius: 3px;
          opacity: 0;
          padding: 2.1vw 2.8vw;
          transform: translateX(100%);
          transition: all .25s ease-in-out;

          h3 {
            color: $roosevelt-blue-dark;
            font-weight: bold;
            opacity: 0;
            transform: translateY(50px);
            transition: all .25s ease-in-out;
          }
        }

        .blue-bg {
          height: 100%;
          background: $roosevelt-blue-light;
          opacity: 0;
          padding: 2.1vw 2.8vw;
          transform: translateX(100%);
          transition: all .25s ease-in-out;

          @media (max-width: 768px) {
            height: auto;
          }

          p {
            opacity: 0;
            transform: translateY(50px);
            transition: all .25s ease-in-out;
          }
        }
      }

      .desktop {
        display: none;

        @media (min-width: 992px) {
          display: flex;
          flex-direction: column;
        }
      }

      .mobile {
        display: block;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 0;

        @media (min-width: 992px) {
          display: none;
        }

        h3 {
          font-size: 30px;
          line-height: 37px;
          opacity: 0;
          transform: translateY(50px);
        }

        p {
          font-size: 14px;
          line-height: 26px;
          opacity: 0;
          transform: translateY(50px);
        }

        .orange-bg {
          border-top-left-radius: 3px;
        }
      }

      &.show {
        .icons-container {
          opacity: 1;
          transform: none;

          .icons-row {
            opacity: 1;
            transform: none;

            // &:nth-child(1) {
            //   transition-delay: 1.15s;

            //   @media (max-width: 768px) {
            //     transition-delay: .6s;
            //   }
            // }

            // &:nth-child(2) {
            //   transition-delay: 1.4s;

            //   @media (max-width: 768px) {
            //     transition-delay: .85s;
            //   }
            // }

            // &:nth-child(3) {
            //   transition-delay: 1.65s;

            //   @media (max-width: 768px) {
            //     transition-delay: 1.1s;
            //   }
            // }

            // &:nth-child(4) {
            //   transition-delay: 1.9s;

            //   @media (max-width: 768px) {
            //     transition-delay: 1.35s;
            //   }
            // }

            // &:nth-child(5) {
            //   transition-delay: 2.15s;

            //   @media (max-width: 768px) {
            //     transition-delay: 1.6s;
            //   }
            // }
          }
        }

        .blue-bg {
          opacity: 1;
          transform: none;

          p {
            opacity: 1;
            transform: none;
            transition-delay: .9s;

            @media (max-width: 768px) {
              transition-delay: .3s;
            }
          }
        }

        .orange-bg {
          opacity: 1;
          transform: none;
          transition-delay: .4s;

          h3 {
            opacity: 1;
            transform: none;
            transition-delay: .65s;
          }

          @media (max-width: 768px) {
            transition-delay: 0s;

            h3 {
              transition-delay: .3s;
            }
          }
        }
      }
    }
  }

  #solution-platforms {
    padding: 20vw 0 0;

    @media (min-width: 768px) {
      padding: 14vw 0 0;
    }

    h2 {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      opacity: 0;
      transform: translateY(50px);
      transition: all .25s ease-in-out;

      font-size: 34px;
      line-height: 44px;
      font-weight: bold;
      text-align: center;

      @media (min-width: 568px) {
        font-size: 40px;
        line-height: 50px;
      }

      @media (min-width: 768px) {
        font-size: 50px;
        line-height: 60px;
      }
    }

    .swiper-container {
      padding-left: 10vw;
      position: relative;

      .swiper-wrapper {
        .swiper-slide {
          height: auto;
          background: #A3B7D6;
          border-radius: 8px;
          box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.10);
          opacity: .8;
          position: relative;
          transition: all .25s ease-in-out;

          &.placeholder {
            opacity: 0;
          }

          &.swiper-slide-active {
            opacity: 1;
            .text-cnt {
              border-color: rgba(255, 255, 255, .21);
            }
          }

          &:hover {
            .image-cnt {
              &:before {
                opacity: .42;
              }
            }

            .cta-overlay {
              opacity: 1;
            }
          }

          .image-cnt {
            width: 100%;
            height: 100%;
            border-radius: 8px;
            overflow: hidden;
            padding: 3.3vw 3.3vw 0;
            position: absolute;
            top: 0;
            left: 0;

            &:before {
              content: '';
              width: 100%;
              height: 100%;
              background: #092348;
              border-radius: 8px;
              opacity: 0;
              position: absolute;
              display: inline-block;
              top: 0;
              left: 0;
              transition: opacity .25s ease-in-out;
            }

            img {
              width: 100%;
              height: auto;
              opacity: 0;
              transform: translateY(50px);
              transition: all .25s ease-in-out;
            }
          }

          &.provider {
            background: $roosevelt-orange;
          }

          &.iba {
            background: $roosevelt-blue-light;
          }

          &.cst {
            background: $roosevelt-orange-light;
          }

          &.ca {
            background: $color-white;
          }

          .text-cnt {
            height: calc(100% - 11.8vw);
            background: #39659F;
            border-bottom: 10px solid #39659F;
            border-left: 10px solid #39659F;
            border-right: 10px solid #39659F;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-top: 11.8vw;
            padding: 11.4vw 1.5vw 1.5vw;
            position: relative;

            -webkit-clip-path: polygon(-1px 0, calc(100% + 1px) 27%, calc(100% + 1px) calc(100% + 1px), -1px calc(100% + 1px));
            clip-path: polygon(-1px 0, calc(100% + 1px) 27%, calc(100% + 1px) calc(100% + 1px), -1px calc(100% + 1px));

            h3 {
              font-size: 22px;
              font-weight: bold;
              color: $roosevelt-orange-light;
              letter-spacing: 0;
              line-height: 28px;
              margin-bottom: 0;
              opacity: 0;
              transform: translateY(50px);
              transition: all .25s ease-in-out;
            }

            p {
              font-size: 14px;
              line-height: 26px;
              opacity: 0;
              transform: translateY(50px);
              transition: all .25s ease-in-out;
            }

            @media (min-width: 768px) {
              -webkit-clip-path: polygon(-1px 0, calc(100% + 1px) 30%, calc(100% + 1px) calc(100% + 1px), -1px calc(100% + 1px));
              clip-path: polygon(-1px 0, calc(100% + 1px) 30%, calc(100% + 1px) calc(100% + 1px), -1px calc(100% + 1px));

              h3 {
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 0.5em;
              }

              p {
                font-size: 16px;
                line-height: 28px;
              }
            }

            @media (min-width: 768px) {
              -webkit-clip-path: polygon(-1px 0, calc(100% + 1px) 60%, calc(100% + 1px) calc(100% + 1px), -1px calc(100% + 1px));
              clip-path: polygon(-1px 0, calc(100% + 1px) 60%, calc(100% + 1px) calc(100% + 1px), -1px calc(100% + 1px));
            }
          }

          .cta-overlay {
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity .25s ease-in-out;

            .cta-overlay-inner {
              width: 100%;
              height: 100%;
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              -ms-flex-align: center;

              button {
                margin: auto;
              }
            }
          }
        }
      }

      .swiper-button-prev,
      .swiper-button-next {
        width: auto;
        height: auto;
        background: none;
        display: inline-block;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;

        span {
          width: 100%;
          height: 100%;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
        }

        img {
          width: 70%;
          height: auto;

          @media (min-width: 768px) {
            width: 100%;
            height: auto;
          }
        }
      }

      .swiper-button-prev {
        left: 0;
        transform: rotate(180deg) translateX(50px);

        @media (min-width: 768px) {
          transform: rotate(180deg) translateX(10px);
        }
      }

      .swiper-button-next {
        right: 0;
        transform: translateX(50px);

        @media (min-width: 768px) {
          transform: translateX(10px);
        }
      }
    }

    &.show {
      h2 {
        opacity: 1;
        transform: none !important;
      }

      .swiper-container {
        .swiper-wrapper {
          .swiper-slide {
            &:nth-child(1) {
              .image-cnt {
                img {
                  opacity: 1;
                  transform: none !important;
                  transition-delay: .3s;
                }
              }

              .text-cnt {
                h3 {
                  opacity: 1;
                  transform: none !important;
                  transition-delay: .55s;
                }

                p {
                  opacity: 1;
                  transform: none !important;
                  transition-delay: .8s;
                }
              }
            }
            &:nth-child(2) {
              .image-cnt {
                img {
                  opacity: 1;
                  transform: none !important;
                  transition-delay: 1.05s;
                }
              }

              .text-cnt {
                h3 {
                  opacity: 1;
                  transform: none !important;
                  transition-delay: 1.3s;
                }

                p {
                  opacity: 1;
                  transform: none !important;
                  transition-delay: 1.55s;
                }
              }
            }
            &:nth-child(3) {
              .image-cnt {
                img {
                  opacity: 1;
                  transform: none !important;
                  transition-delay: 1.8s;
                }
              }

              .text-cnt {
                h3 {
                  opacity: 1;
                  transform: none !important;
                  transition-delay: 2.05s;
                }

                p {
                  opacity: 1;
                  transform: none !important;
                  transition-delay: 2.3s;
                }
              }
            }
            &:nth-child(4) {
              .image-cnt {
                img {
                  opacity: 1;
                  transform: none !important;
                  transition-delay: 2.55s;
                }
              }

              .text-cnt {
                h3 {
                  opacity: 1;
                  transform: none !important;
                  transition-delay: 2.8s;
                }

                p {
                  opacity: 1;
                  transform: none !important;
                  transition-delay: 3.05s;
                }
              }
            }
            &:nth-child(5) {
              .image-cnt {
                img {
                  opacity: 1;
                  transform: none !important;
                  transition-delay: 3.3s;
                }
              }

              .text-cnt {
                h3 {
                  opacity: 1;
                  transform: none !important;
                  transition-delay: 3.55s;
                }

                p {
                  opacity: 1;
                  transform: none !important;
                  transition-delay: 3.8s;
                }
              }
            }
          }
        }
      }
    }
  }

  #showcase {
    position: relative;

    padding: 20vw 0 0;

    @media (min-width: 768px) {
      padding: 14vw 0 0;
    }

    #text-triggers {
      width: 100%;
      height: calc(100% - 14vw);
      position: absolute;
      top: 14vw;
      left: 0;

      .trigger {
        width: 100%;
        height: 1px;
        background: none!important;
        opacity: 0!important;
        position: absolute;
        left: 0;
      }
    }

    img.bg {
      width: 63.1vw;
      height: auto;
      opacity: .5;
      position: absolute;
      top: -18vw;
      right: -4.2vw;
    }

    .showcase__accent {
      position: absolute;
      display: block;
      top: 13.5%;
      left: 0;

      width: 100%;
      height: 0;

      @media (min-width: 568px) {
        top: 22%;
      }

      @media (min-width: 768px) {
        top: 20%;
      }

      @media (min-width: 1400px) {
        top: 24%;
      }

      &-wrap {
        position: absolute;

        width: 100%;

        background-color: $roosevelt-blue-dark;

        z-index: 1;

        &--1 {
          transform: translate(-15%, -28%);
          clip-path: polygon(15% 5%, 85% 53%, 15% 100%);
        }

        &--2 {
          transform: translate(75%, -30%);
          clip-path: polygon(80% 0%, 100% 0%, 100% 100%, 70% 100%, 0% 53%, 0% 50%);
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          height: 0;
          width: 100%;
          height: 100%;
          background-color: $roosevelt-blue-dark;
          opacity: 0.8;
        }
      }

      &__img {
        display: block;

        width: 110%;
        height: auto;
      }

      &-inner {
        position: relative;
        z-index: 1;

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 15%;

          width: 300%;
          height: 10vw;
          max-height: 100px;

          transform: translate(-20%, 0%) rotate(-25deg);

          background: $roosevelt-orange;

          z-index: 2;
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: -50%;

          width: 300%;
          height: 10vw;
          max-height: 100px;

          background: #192239;

          transform: translate(-20%, 0%) rotate(25deg);

          z-index: 2;
        }
      }
    }

    .headers {
      margin-bottom: 45px;

      h2 {
        width: 95%;
        margin-left: auto;
        margin-right: auto;

        color: $roosevelt-orange-light;

        font-size: 34px;
        line-height: 44px;
        font-weight: bold;
        display: none;
        position: relative;
        text-align: center;
        z-index: 1;

        &.active {
          display: block;
        }

        @media (min-width: 568px) {
          font-size: 40px;
          line-height: 50px;
        }

        @media (min-width: 768px) {
          font-size: 50px;
          line-height: 60px;
        }
      }
    }

    .platforms-container {
      position: relative;

      &:before {
        content: '';
        width: 100%;
        height: calc(100% - 47vw);
        background-image: linear-gradient(0deg, #4D74B0 0%, #FFFFFF 79%);
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;

        @media (min-width: 768px) {
          height: calc(100% - 30vw);
        }

        @media (min-width: 960px) {
          height: calc(100% - 34vw);
        }

        @media (min-width: 1500px) {
          height: calc(100% - 28vw);
        }
      }

      .laptop {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        -ms-flex-align: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;

        img {
          max-width: 1400px;
          width: 100%;
          height: auto;

          @media (min-width: 768px) {
            width: 91.5%;
          }
        }
      }

      .platform-showcase-cnt {
        height: 52.2vw;
        max-height: 800px;
        overflow: hidden;
        padding-bottom: 620px;
        opacity: 1;
        position: relative;
        top: 2px;

        &.in-active {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          z-index: -1;
        }

        @media (min-width: 390px) {
          padding-bottom: 530px;
        }

        @media (min-width: 478px) {
          padding-bottom: 85vw;
        }

        @media (min-width: 568px) {
          padding-bottom: 55vw;
        }

        @media (min-width: 768px) {
          padding-bottom: 0;
        }

        img {
          display: block;
          position: relative;
          top: 1%;

          width: 76vw;
          max-width: 1082px;

          margin: 2.9vw auto 15.3vw;
          padding: 3vw 0 0;

          z-index: 2;

          @media (min-width: 768px) {
            width: 69.5vw;

            margin: 2.2vw auto 15.3vw;
          }

          @media (min-width: 1200px) {
            padding: 0 0 0;
          }
        }

        .text-container {
          position: absolute;
          width: 85%;
          max-width: 1550px;
          height: auto;
          top: 63vw;
          left: 50%;
          transform: translateX(-50%);
          z-index: 4;

          @media (min-width: 768px) {
            top: 0;
            height: 100%;
          }
        }

        .text-group {
          opacity: 0;
          position: relative;
          z-index: -1;
          transition: opacity .25s ease-in-out;

          &.active {
            opacity: 1;
            z-index: 1;
          }

          &:nth-child(odd) {
            display: block;

            width: 80%;
            max-width: 287px;

            margin: 0 auto 5vw 5vw;

            @media (min-width: 568px) {
              margin: 0 auto 3vw 5vw;
            }

            @media (min-width: 768px) {
              top: 17.5vw;
              left: 0vw;

              margin: 0;
            }

            @media (min-width: 1500px) {
              top: 13.5%;
              left: 80px;
            }
          }

          &:nth-child(even) {
            display: block;

            width: 80%;
            max-width: 250px;

            margin: 0 5vw 5vw auto;

            @media (min-width: 568px) {
              margin: 0 5vw 3vw auto;
            }

            @media (min-width: 768px) {
              top: 17.5vw;
              left: 60.5vw;

              margin: 0;
            }

            @media (min-width: 1200px) {
              left: unset;
              right: 20px;
            }

            @media (min-width: 1500px) {
              top: 13.5%;
              right: 80px;
            }
          }

          //&:nth-child(3) {
          //  display: block;
          //
          //  width: 80%;
          //  max-width: 287px;
          //
          //  margin: 0 auto 5vw 5vw;
          //
          //  @media (min-width: 568px) {
          //    margin: 0 auto 3vw 5vw;
          //  }
          //
          //  @media (min-width: 768px) {
          //    top: 75vw;
          //    left: 0;
          //
          //    margin: 0;
          //  }
          //
          //  @media (min-width: 1500px) {
          //    top: 55.5%;
          //    left: 80px;
          //  }
          //}
          //
          //&:nth-child(4) {
          //  display: block;
          //
          //  width: 80%;
          //  max-width: 250px;
          //
          //  margin: 0 5vw 5vw auto;
          //
          //  @media (min-width: 568px) {
          //    margin: 0 5vw 3vw auto;
          //  }
          //
          //  @media (min-width: 768px) {
          //    top: 107vw;
          //    left: 60.5vw;
          //
          //    margin: 0;
          //  }
          //
          //  @media (min-width: 1200px) {
          //    left: unset;
          //    right: 20px;
          //  }
          //
          //  @media (min-width: 1500px) {
          //    top: 80.5%;
          //    right: 80px;
          //  }
          //}

          &.left {
            .text-cnt.default-blue {
              margin-left: 28px;
            }
          }

          &.right {
            .text-cnt.default-blue {
              width: 245px;
            }
          }

          @media (min-width: 768px) {
            position: absolute;
          }
        }

        .text-cnt {
          position: relative;
          box-shadow: 0 4px 30px 0 rgba(37, 55, 70, 0.45);

          &.default-blue {
            width: 258px;
            border-radius: 3px;
            box-shadow: 0 4px 30px 0 rgba(37, 55, 70, 0.45);
            margin-top: 24px;
            padding: 1.4vw;

            @media (min-width: 768px) {
              width: 278px;
            }

            &:before {
              content: '';
              width: 100%;
              height: 100%;
              background: #3168A7;
              border-radius: 3px;
              opacity: .9;
              position: absolute;
              top: 0;
              left: 0;
            }

            p {
              font-size: 14px;
              line-height: 26px;
              position: relative;

              @media (min-width: 768px) {
                font-size: 16px;
                line-height: 28px;
              }
            }
          }

          &.angle {
            width: 250px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            padding: 1.9vw 1.9vw 0;

            @media (min-width: 768px) {
              width: 270px;
            }

            &:after {
              content: '';
              width: 0;
              height: 0;
              position: absolute;
              top: 100%;
              left: 0;
            }

            p {
              font-size: 20px;
              font-weight: 600;

              @media (min-width: 768px) {
                font-size: 24px;
              }
            }

            &.top-left {
              &:after {
                border-right: 250px solid transparent;

                @media (min-width: 768px) {
                  border-right: 270px solid transparent;
                }
              }
            }

            &.top-right {
              &:after {
                border-left: 250px solid transparent;

                @media (min-width: 768px) {
                  border-left: 270px solid transparent;
                }
              }
            }

            &.blue {
              background: $roosevelt-blue-dark;

              &:after {
                border-top: 154px solid $roosevelt-blue-dark;
              }
            }

            &.orange {
              background: $roosevelt-orange-dark;

              &:after {
                border-top: 154px solid $roosevelt-orange-dark;
              }

              p {
                color: $roosevelt-blue-dark;
              }
            }
          }
        }
      }
    }

    #other-platforms {

      .swiper-container {
        padding:50px 0 50px 10vw;
        position: relative;

        .swiper-wrapper {
          .swiper-slide {
            height: auto;
            background: #A3B7D6;
            border-radius: 8px;
            box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.10);
            opacity: .8;
            position: relative;
            transition: all .25s ease-in-out;

            &.placeholder {
              opacity: 0;
            }

            &.swiper-slide-active {
              opacity: 1;
              .text-cnt {
                border-color: rgba(255, 255, 255, .21);
              }
            }

            &:hover {
              .image-cnt {
                &:before {
                  opacity: .42;
                }
              }

              .cta-overlay {
                opacity: 1;
              }
            }

            .image-cnt {
              width: 100%;
              height: 100%;
              border-radius: 8px;
              overflow: hidden;
              padding: 3.3vw 3.3vw 0;
              position: absolute;
              top: 0;
              left: 0;

              &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: #092348;
                border-radius: 8px;
                opacity: 0;
                position: absolute;
                display: inline-block;
                top: 0;
                left: 0;
                transition: opacity .25s ease-in-out;
              }

              img {
                width: 100%;
                height: auto;
                opacity: 0;
                transform: translateY(50px);
                transition: all .25s ease-in-out;
              }
            }

            &.provider {
              background: $roosevelt-orange;
            }

            &.iba {
              background: $roosevelt-blue-light;
            }

            &.cst {
              background: $roosevelt-orange-light;
            }

            &.ca {
              background: $color-white;
            }

            .text-cnt {
              height: calc(100% - 11.8vw);
              background: #39659F;
              border-bottom: 10px solid #39659F;
              border-left: 10px solid #39659F;
              border-right: 10px solid #39659F;
              border-bottom-left-radius: 8px;
              border-bottom-right-radius: 8px;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              margin-top: 11.8vw;
              padding: 11.4vw 1.5vw 1.5vw;
              position: relative;

              -webkit-clip-path: polygon(-1px 0, calc(100% + 1px) 27%, calc(100% + 1px) calc(100% + 1px), -1px calc(100% + 1px));
              clip-path: polygon(-1px 0, calc(100% + 1px) 27%, calc(100% + 1px) calc(100% + 1px), -1px calc(100% + 1px));

              h3 {
                font-size: 22px;
                font-weight: bold;
                color: $roosevelt-orange-light;
                letter-spacing: 0;
                line-height: 28px;
                margin-bottom: 0;
                opacity: 0;
                transform: translateY(50px);
                transition: all .25s ease-in-out;
              }

              p {
                font-size: 14px;
                line-height: 26px;
                opacity: 0;
                transform: translateY(50px);
                transition: all .25s ease-in-out;
              }

              @media (min-width: 768px) {
                -webkit-clip-path: polygon(-1px 0, calc(100% + 1px) 30%, calc(100% + 1px) calc(100% + 1px), -1px calc(100% + 1px));
                clip-path: polygon(-1px 0, calc(100% + 1px) 30%, calc(100% + 1px) calc(100% + 1px), -1px calc(100% + 1px));

                h3 {
                  font-size: 24px;
                  line-height: 30px;
                  margin-bottom: 0.5em;
                }

                p {
                  font-size: 16px;
                  line-height: 28px;
                }
              }

              @media (min-width: 768px) {
                -webkit-clip-path: polygon(-1px 0, calc(100% + 1px) 60%, calc(100% + 1px) calc(100% + 1px), -1px calc(100% + 1px));
                clip-path: polygon(-1px 0, calc(100% + 1px) 60%, calc(100% + 1px) calc(100% + 1px), -1px calc(100% + 1px));
              }
            }

            .cta-overlay {
              width: 100%;
              height: 100%;
              opacity: 0;
              position: absolute;
              top: 0;
              left: 0;
              transition: opacity .25s ease-in-out;

              .cta-overlay-inner {
                width: 100%;
                height: 100%;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                -ms-flex-align: center;

                button {
                  margin: auto;
                }
              }
            }
          }
        }

        .swiper-button-prev,
        .swiper-button-next {
          width: auto;
          height: auto;
          background: none;
          display: inline-block;
          margin: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;

          span {
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
          }

          img {
            width: 70%;
            height: auto;

            @media (min-width: 768px) {
              width: 100%;
              height: auto;
            }
          }
        }

        .swiper-button-prev {
          left: 0;
          transform: rotate(180deg) translateX(50px);

          @media (min-width: 768px) {
            transform: rotate(180deg) translateX(10px);
          }
        }

        .swiper-button-next {
          right: 0;
          transform: translateX(50px);

          @media (min-width: 768px) {
            transform: translateX(10px);
          }
        }
      }

      &.show {

        .swiper-container {
          .swiper-wrapper {
            .swiper-slide {
              &:nth-child(1) {
                .image-cnt {
                  img {
                    opacity: 1;
                    transform: none !important;
                    transition-delay: .3s;
                  }
                }

                .text-cnt {
                  h3 {
                    opacity: 1;
                    transform: none !important;
                    transition-delay: .55s;
                  }

                  p {
                    opacity: 1;
                    transform: none !important;
                    transition-delay: .8s;
                  }
                }
              }
              &:nth-child(2) {
                .image-cnt {
                  img {
                    opacity: 1;
                    transform: none !important;
                    transition-delay: 1.05s;
                  }
                }

                .text-cnt {
                  h3 {
                    opacity: 1;
                    transform: none !important;
                    transition-delay: 1.3s;
                  }

                  p {
                    opacity: 1;
                    transform: none !important;
                    transition-delay: 1.55s;
                  }
                }
              }
              &:nth-child(3) {
                .image-cnt {
                  img {
                    opacity: 1;
                    transform: none !important;
                    transition-delay: 1.8s;
                  }
                }

                .text-cnt {
                  h3 {
                    opacity: 1;
                    transform: none !important;
                    transition-delay: 2.05s;
                  }

                  p {
                    opacity: 1;
                    transform: none !important;
                    transition-delay: 2.3s;
                  }
                }
              }
              &:nth-child(4) {
                .image-cnt {
                  img {
                    opacity: 1;
                    transform: none !important;
                    transition-delay: 2.55s;
                  }
                }

                .text-cnt {
                  h3 {
                    opacity: 1;
                    transform: none !important;
                    transition-delay: 2.8s;
                  }

                  p {
                    opacity: 1;
                    transform: none !important;
                    transition-delay: 3.05s;
                  }
                }
              }
              &:nth-child(5) {
                .image-cnt {
                  img {
                    opacity: 1;
                    transform: none !important;
                    transition-delay: 3.3s;
                  }
                }

                .text-cnt {
                  h3 {
                    opacity: 1;
                    transform: none !important;
                    transition-delay: 3.55s;
                  }

                  p {
                    opacity: 1;
                    transform: none !important;
                    transition-delay: 3.8s;
                  }
                }
              }
            }
          }
        }
      }
    }

    .other-platforms {
      position:relative;
      z-index:9;
      margin-top: 15vw;
      padding: 0 0 9vw 0;

      &-hdr {
        margin-bottom: 50px;
        position: relative;

        @media (min-width: 768px) {
          margin-bottom: 70px;
        }

        h2 {
          font-size: 40px;
          font-weight: bold;
          color: $roosevelt-blue-dark;
          text-align: center;
          line-height: 50px;

          @media (min-width: 768px) {
            font-size: 50px;
            line-height: 60px;
          }
        }
      }

      &-card {
        min-height: 240px;
        height:100%;

        @media (min-width: 960px) {
          min-height: initial;
          padding-top: 0;
          padding-bottom: 0;
        }

        &.col-sm-6 {
          @media (min-width: 568px) {
            flex-basis: 50%;
            max-width: 50%;
          }

          @media (min-width: 960px) {
            flex-basis: 25%;
            max-width: 25%;
          }
        }

        .card {
          height: 100%;
          background: #A3B7D6;
          border-radius: 8px;
          box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.10);
          display: flex;
          flex-direction: column;
          position: relative;
          transition: all .25s ease-in-out;
          z-index: 3;

          &:hover {
            .image-cnt {
              &:before {
                opacity: .42;
              }
            }

            .cta-overlay {
              opacity: 1;
            }
          }

          .image-cnt {
            width: 100%;
            height: 100%;
            border-radius: 8px;
            overflow: hidden;
            padding: 3.3vw 3.3vw 0;
            position: absolute;
            top: 0;
            left: 0;

            &:before {
              content: '';
              width: 100%;
              height: 100%;
              background: #092348;
              border-radius: 8px;
              opacity: 0;
              position: absolute;
              display: inline-block;
              top: 0;
              left: 0;
              transition: opacity .25s ease-in-out;
            }

            img {
              width: 100%;
              height: auto;
            }
          }

          .text-cnt {
            height: calc(100% - 10.2vw);
            background: #39659F;
            border-bottom: 10px solid #39659F;
            border-left: 10px solid #39659F;
            border-right: 10px solid #39659F;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-top: 10.2vw;
            padding: 7.4vw 1.5vw 1.5vw;
            position: relative;

            -webkit-clip-path: polygon(-1px 0, calc(100% + 1px) 53%, calc(100% + 1px) calc(100% + 1px), -1px calc(100% + 1px));
            clip-path: polygon(-1px 0, calc(100% + 1px) 53%, calc(100% + 1px) calc(100% + 1px), -1px calc(100% + 1px));

            h3 {
              font-size: 20px;
              font-weight: bold;
              letter-spacing: 0;
              line-height: 26px;
            }

            p {
              font-size: 16px;
              line-height: 28px;
            }

            @media (min-width: 768px) {
              h3 {
                font-size: 20px;
                line-height: 26px;
              }
            }

            @media (min-width: 960px) {
              h3 {
                font-size: 22px;
                line-height: 28px;
              }
            }

            @media (min-width: 1200px) {
              -webkit-clip-path: polygon(-1px 0, calc(100% + 1px) 75%, calc(100% + 1px) calc(100% + 1px), -1px calc(100% + 1px));
              clip-path: polygon(-1px 0, calc(100% + 1px) 75%, calc(100% + 1px) calc(100% + 1px), -1px calc(100% + 1px));
            }
          }

          .cta-overlay {
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity .25s ease-in-out;

            .cta-overlay-inner {
              width: 100%;
              height: 100%;
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              -ms-flex-align: center;

              button {
                margin: auto;
                padding: 17.5px 2vw;
              }
            }
          }

          &.provider {
            background: $roosevelt-orange;
          }

          &.iba {
            background: $roosevelt-blue-light;
          }

          &.cst {
            background: $roosevelt-orange-light;
          }

          &.ca {
            background: $color-white;
          }
        }
      }
    }

    .contact {
      position: relative;

      padding: 9vw 0 0;

      &__accent {
        position: absolute;
        display: block;
        top: 0;
        left: 0;

        width: 100%;
        height: 0;

        &-wrap {
          position: absolute;

          width: 100%;

          z-index: 1;

          &--1 {
            background-color: #7F9BC6;
            transform: translate(-30%, -48%);
            clip-path: polygon(20% 10%, 88% 57%, 20% 100%);
            -webkit-clip-path: polygon(20% 10%, 88% 57%, 20% 100%);
            height: 50vw;
            width: 50vw;
          }

          &--2 {
            background-color: $roosevelt-blue-dark;
            transform: translate(35%, -43%);
            clip-path: polygon(74% 0%, 100% 0%, 100% 100%, 74% 100%, 0% 53%, 0% 48%);
            -webkit-clip-path: polygon(74% 0%, 100% 0%, 100% 100%, 74% 100%, 0% 53%, 0% 48%);
          }
        }

        &__img {
          display: block;

          width: 110%;
          height: auto;
        }

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;

          width: 200%;
          height: 10vw;
          max-height: 100px;

          background: $roosevelt-orange;

          transform: translate(-31%, 0%) rotate(-27deg);

          z-index: 2;
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;

          width: 200%;
          height: 10vw;
          max-height: 100px;

          background: #192239;

          transform: translate(-36%, 0%) rotate(28.7deg);

          z-index: 2;
        }
      }

      .col-xs-12 {
        position: relative;

        background-color: #202224;
      }

      &__mask {
        position: relative;

        width: 90%;
        max-width: 1272px;

        margin: 0 auto;
        border-radius: 3px;
        padding: 5vw 3vw;

        background-color: $roosevelt-blue;

        z-index: 2;

        @media (min-width: 960px) {
          padding: 65px 70px;
        }
      }

      &__hdr {
        width: 100%;
        max-width: 10em;

        padding-top: 3em;

        font-size: 38px;
        line-height: 1.2em;
        font-weight: 600;

        .orange {
          color: $roosevelt-orange;
        }

        @media (min-width: 960px) {
          padding-top: 0;
        }

        @media (min-width: 1200px) {
          font-size: 48px;
          line-height: 1.2em;
        }
      }

      &__person {
        margin: 30px 0 0;

        @media (min-width: 768px) {
          margin: 50px 0 0;
        }
      }

      &__name {
        margin: 0;

        font-size: 23px;
        font-weight: 600;
        text-transform: uppercase;

        color: $roosevelt-orange-light;

        @media (min-width: 768px) {
          font-size: 25px;
        }

        @media (min-width: 960px) {
          font-size: 27px;
        }
      }

      &__info {
        font-size: 14px;
        line-height: 23 / 14 + em;

        margin: 0;

        .bold {
          font-weight: 600;
        }

        @media (min-width: 768px) {
          font-size: 22px;
        }

        @media (min-width: 968px) {
          font-size: 25px;
        }
      }

      &__img {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        width: 92%;
        border-top-right-radius: 3px;
        clip-path: polygon(100% 97%, 21% 28%, 57% 0%, 100% 0%);
        -webkit-clip-path: polygon(100% 97%, 21% 28%, 57% 0%, 100% 0%);

        img {
          transform: scale(.9);
          margin-top: -3.3%;
          transition: all .25s ease-in-out;
        }

        &.show {
          img {
            transform: scale(1);
            margin-top: 0;
          }
        }

        @media (min-width: 768px) {
          width: 80%;
          clip-path: polygon(100% 97%, 10% 31%, 50% 0%, 100% 0%);
          -webkit-clip-path: polygon(100% 97%, 10% 31%, 50% 0%, 100% 0%);
        }

        @media (min-width: 960px) {
          width: 63.6vw;
          clip-path: polygon(100% 86%, 18% 17%, 42% 0%, 100% 0%);
          -webkit-clip-path: polygon(100% 86%, 18% 17%, 42% 0%, 100% 0%);
        }

        @media (min-width: 1200px) {
          width: 59vw;
          clip-path: polygon(100% 91%, 10% 17%, 19.5vw 0%, 100% 0%);
          -webkit-clip-path: polygon(100% 91%, 10% 17%, 19.5vw 0%, 100% 0%);
        }

        @media (min-width: 1400px) {
          width: 65.7vw;
          clip-path: polygon(100% 82%, 18% 14%, 25vw 0%, 100% 0%);
          -webkit-clip-path: polygon(100% 82%, 18% 14%, 25vw 0%, 100% 0%);
        }

        @media (min-width: 1500px) {
          width: 63vw;
          clip-path: polygon(100% 81%, 21% 14%, 24.8vw 0%, 100% 0%);
          -webkit-clip-path: polygon(100% 81%, 21% 14%, 24.8vw 0%, 100% 0%);
        }

        @media (min-width: 1800px) {
          width: 68.2%;
          min-width: 970px;
          clip-path: polygon(100% 99%, 5% 16%, 11vw 0%, 100% 0%);
          -webkit-clip-path: polygon(100% 99%, 5% 16%, 11vw 0%, 100% 0%);
        }
      }
    }
  }
}
