{{>../header/_head additionalClasses="front-page"}}

<main id="main" class="main">
    <section id="banner" class="main__header">
        <div class="main__header__wrap animated">
            <img class="main__header__logo"
                 src="images/roosevelt-banner-logo.svg"
                 alt="Roosevelt: simple. seamless. smart.">
            <p>
                The Roosevelt platform is the first technology solution to deliver a full suite of applications built
                for the Delta Dental community, with all Delta Dental claims processing rules included.
            </p>
        </div>
        <img src="images/roosevelt-bg-logo.svg" alt="Roosevelt Logo" class="bg main__header__bg">

    </section>

    <div class="main__header__accent">
        <div class="main__header__accent-inner">
            <div class="main__header__accent-wrap main__header__accent-wrap--1">
                <img src="images/isometric-screens-2.png"
                     class="main__header__accent__img">
            </div>
            <div class="main__header__accent-wrap main__header__accent-wrap--2">
                <img src="images/isometric-screens-2.png"
                     class="main__header__accent__img">
                <div class="main__header__accent__img__animate__wrap">
                    <img src="images/screen-1.png" alt="screenshot" class="main__header__accent__img__animate">
                    <img src="images/screen-2.png" alt="screenshot" class="main__header__accent__img__animate">
                    <img src="images/screen-3.png" alt="screenshot" class="main__header__accent__img__animate">
                    <img src="images/screen-4.png" alt="screenshot" class="main__header__accent__img__animate">
                    <img src="images/screen-5.png" alt="screenshot" class="main__header__accent__img__animate">
                    <img src="images/screen-6.png" alt="screenshot" class="main__header__accent__img__animate">
                    <img src="images/screen-7.png" alt="screenshot" class="main__header__accent__img__animate">
                    <img src="images/screen-8.png" alt="screenshot" class="main__header__accent__img__animate">
                </div>
            </div>
        </div>
    </div>

    <div class="gradient-bg">
        <section id="icons-section">
            <div class="text-cnt">
                <h2 class="animated">Roosevelt.<span class="light-orange">Simple. Seamless.</span><span
                        class="dark-orange">Smart.</span>
                </h2>
                <p class="primary animated">Choose Roosevelt to support your individual line of business with our fresh,
                    consumer
                    focused approach.</p>
                <p class="animated">Our shopping websites are completely configurable to your book of business. And
                    turnaround time is just one day, so you can start meeting your marketing goals immediately!</p>
            </div>
            <div class="icons-cnt row">
                <div class="col-xs-12 icons-info mobile">
                    <div class="orange-bg">
                        <h3 class="animated">The Best Fit for Your Individual Business</h3>
                    </div>
                    <div class="blue-bg">
                        <p class="animated"><strong>The Roosevelt applications suite supports the complete
                            administration of individual business, from product setup through payment and claims
                            processing.</strong></p>
                        <p class="animated">Our superior user experience puts the control and administration in the
                            hands of your business and operations team. Gone are the days of support tickets,
                            hard-coding, developer support and release schedules.</p>
                        <p class="animated">With Roosevelt, the power is yours. Customize your site, or let your brokers
                            customize their own sites with more than 300 configurable elements. All sites are
                            mobile-compatible and built with Google Analytics included, giving you full visibility into
                            page views, clicks, abandonment rates and marketing campaigns.</p>
                        <p class="animated"><strong>Through this revolutionized and modern platform, Roosevelt delivers
                            robust results, making it the right solution for your individual business needs.</strong>
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8 icons-container">
                    <div class="icons-row">
                        <div class="icon">
                            <img src="images/icons/create-inquiry.svg" alt="Create Inquiry icon">
                            <p>Create Inquiry</p>
                        </div>
                        <div class="icon">
                            <img src="images/icons/inquiry.svg" alt="Inquiry icon">
                            <p>Inquiry</p>
                        </div>
                        <div class="icon">
                            <img src="images/icons/provider.svg" alt="Provider icon">
                            <p>Provider</p>
                        </div>
                        <div class="icon">
                            <img src="images/icons/eligibility.svg" alt="Eligibility icon">
                            <p>Eligibility</p>
                        </div>
                        <div class="icon">
                            <img src="images/icons/claims.svg" alt="Claims icon">
                            <p>Claims</p>
                        </div>
                    </div>
                    <div class="icons-row">
                        <div class="icon">
                            <img src="images/icons/member-access.svg" alt="Member Access icon">
                            <p>Member Access</p>
                        </div>
                        <div class="icon">
                            <img src="images/icons/purchaser-apis.svg" alt="Purchaser APIs icon">
                            <p>Purchaser APIs</p>
                        </div>
                        <div class="icon">
                            <img src="images/icons/group-admin.svg" alt="Group Admin icon">
                            <p>Group Admin</p>
                        </div>
                        <div class="icon">
                            <img src="images/icons/security-admin.svg" alt="Security Admin icon">
                            <p>Security Admin</p>
                        </div>
                        <div class="icon">
                            <img src="images/icons/reports.svg" alt="Reports icon">
                            <p>Reports</p>
                        </div>
                    </div>
                    <div class="icons-row">
                        <div class="icon">
                            <img src="images/icons/alert-management.svg" alt="Alert Managemennt icon">
                            <p>Alert Management</p>
                        </div>
                        <div class="icon">
                            <img src="images/icons/claims-search.svg" alt="Claims Search icon">
                            <p>Claims Search</p>
                        </div>
                        <div class="icon">
                            <img src="images/icons/accounting-apis.svg" alt="Accounting APIs icon">
                            <p>Accounting APIs</p>
                        </div>
                        <div class="icon">
                            <img src="images/icons/billing-apis.svg" alt="Billing APIs icon">
                            <p>Billing APIs</p>
                        </div>
                        <div class="icon">
                            <img src="images/icons/reference-implementation-apis.svg" alt="Reference Implementation APIs
                        icon">
                            <p>Reference Implementation APIs</p>
                        </div>
                    </div>
                    <div class="icons-row">
                        <div class="icon">
                            <img src="images/icons/user-profile.svg" alt="User Profile icon">
                            <p>User Profile</p>
                        </div>
                        <div class="icon">
                            <img src="images/icons/benefits-search.svg" alt="Benefits Search icon">
                            <p>Benefits Search</p>
                        </div>
                        <div class="icon">
                            <img src="images/icons/cst-apis.svg" alt="CST APIs icon">
                            <p>CST APIs</p>
                        </div>
                        <div class="icon">
                            <img src="images/icons/dot-apis.svg" alt="DOT APIs icon">
                            <p>DOT APIs</p>
                        </div>
                        <div class="icon">
                            <img src="images/icons/eligibility-apis.svg" alt="Eligibility APIs icon">
                            <p>Eligibility APIs</p>
                        </div>
                    </div>
                    <div class="icons-row">
                        <div class="icon">
                            <img src="images/icons/customer-service.svg" alt="Customer Service icon">
                            <p>Customer Service</p>
                        </div>
                        <div class="icon">
                            <img src="images/icons/developer-portal.svg" alt="Developer Portal icon">
                            <p>Developer Portal</p>
                        </div>
                        <div class="icon">
                            <img src="images/icons/claims-apis.svg" alt="Claims APIs icon">
                            <p>Claims APIs</p>
                        </div>
                        <div class="icon">
                            <img src="images/icons/billing.svg" alt="Billing icon">
                            <p>Billing</p>
                        </div>
                        <div class="icon">
                            <img src="images/icons/benefit-management.svg" alt="Benefit Management icon">
                            <p>Benefit Management</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 icons-info desktop">
                    <div class="orange-bg">
                        <h3>The Best Fit for Your Individual Business</h3>
                    </div>
                    <div class="blue-bg">
                        <p><strong>The Roosevelt applications suite supports the complete administration of individual
                            business, from product setup through payment and claims processing.</strong></p>
                        <p>Our superior user experience puts the control and administration in the hands of your
                            business and operations team. Gone are the days of support tickets, hard-coding, developer
                            support and release schedules.</p>
                        <p>With Roosevelt, the power is yours. Customize your site, or let your brokers customize their
                            own sites with more than 300 configurable elements. All sites are mobile-compatible and
                            built with Google Analytics included, giving you full visibility into page views, clicks,
                            abandonment rates and marketing campaigns.</p>
                        <p><strong>Through this revolutionized and modern platform, Roosevelt delivers robust results,
                            making it the right solution for your individual business needs.</strong></p>
                    </div>
                </div>
            </div>
        </section>
        <section id="solution-platforms">
            <h2>Roosevelt Solutions Platforms</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide bmt">
                        <div class="image-cnt">
                            <img src="images/solution-platforms/benefit-manager-toolkit-screenshot.jpg" alt="Benefit
                        Manager Toolkit screenshot">
                        </div>
                        <div class="text-cnt">
                            <h3>Benefit<br>Manager Toolkit</h3>
                            <p>A streamlined benefits management toolkit for Enrollment Analysts, Benefits Managers, and
                                Third-Party Administrators. Get real-time eligibility details, access billing
                                information, and manage the status of current and incoming employees.</p>
                        </div>
                        <div class="cta-overlay">
                            <div class="cta-overlay-inner">
                                <button class="button solution-btn" data-platform="bmt">Learn More</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide provider">
                        <div class="image-cnt">
                            <img src="images/solution-platforms/provider-summary-screenshot.jpg"
                                 alt="Provider Summary screenshot">
                        </div>
                        <div class="text-cnt">
                            <h3>Provider</h3>
                            <p>A simple and clean interface makes adding, editing, and setting up new providers
                                (dentists and offices) on Delta’s network faster than ever. Search existing providers,
                                confirm licensing info for new ones, and update contact information like hours,
                                locations, and more.</p>
                        </div>
                        <div class="cta-overlay">
                            <div class="cta-overlay-inner">
                                <button class="button solution-btn" data-platform="provider">Learn More</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide iba">
                        <div class="image-cnt">
                            <img src="images/solution-platforms/individual-business-administration-screenshot.jpg"
                                 alt="Individual Business Administration screenshot">
                        </div>
                        <div class="text-cnt">
                            <h3>Individual<br>Business<br>Administration</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus.</p>
                        </div>
                        <div class="cta-overlay">
                            <div class="cta-overlay-inner">
                                <button class="button solution-btn" data-platform="iba">Learn More</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide cst">
                        <div class="image-cnt">
                            <img src="images/solution-platforms/customer-service-toolkit-screenshot.jpg" alt="Customer
                        Service Toolkit">
                        </div>
                        <div class="text-cnt">
                            <h3>Customer<br>Service Toolkit</h3>
                            <p>Manage your entire customer support workflow operation in a single location. Increase
                                collaboration between CSRs with customer support logs. Search customer support logs to
                                improve client communications. Handle multiple tasks at once with multi-tasking
                                functionality.</p>
                        </div>
                        <div class="cta-overlay">
                            <div class="cta-overlay-inner">
                                <button class="button solution-btn" data-platform="cst">Learn More</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide ca">
                        <div class="image-cnt">
                            <img src="images/solution-platforms/core-administration-screenshot.jpg" alt="Core
                        Administration screenshot">
                        </div>
                        <div class="text-cnt">
                            <h3>Core<br>Administration</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus.</p>
                        </div>
                        <div class="cta-overlay">
                            <div class="cta-overlay-inner">
                                <button class="button" data-platform="ca">Learn More</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide placeholder"></div>
                    <div class="swiper-slide placeholder"></div>
                </div>
                <div class="swiper-button-prev">
                    <span>Previous Slide</span>
                    <img src="images/swiper-nav.svg" alt="previous slide">
                </div>
                <div class="swiper-button-next">
                    <span>Next Slide</span>
                    <img src="images/swiper-nav.svg" alt="next slide">
                </div>
            </div>
        </section>
        <div id="showcase-anchor"></div>
        <section id="showcase">
            <div id="text-triggers"></div>
            <div id="showcase-pin">
                <div class="showcase__accent">
                    <div class="showcase__accent-inner">
                        <div class="showcase__accent-wrap showcase__accent-wrap--1">
                            <img src="images/flat-screens.png"
                                 class="showcase__accent__img">
                        </div>
                        <div class="showcase__accent-wrap showcase__accent-wrap--2">
                            <img src="images/flat-screens.png"
                                 class="showcase__accent__img">
                        </div>
                    </div>
                </div>
                <img src="images/roosevelt-bg-logo.svg" alt="Roosevelt Logo" class="bg showcase__bg">
                <div class="headers">
                    <h2 class="animated animated-center active" data-platform="bmt">Benefit Manager Toolkit</h2>
                    <h2 class="animated animated-center" data-platform="provider">Provider</h2>
                    <h2 class="animated animated-center" data-platform="iba">Individual Business Administration</h2>
                    <h2 class="animated animated-center" data-platform="cst">Customer Service Toolkit</h2>
                    <h2 class="animated animated-center" data-platform="ca">Core Administration</h2>
                </div>
                <div class="platforms-container">
                    <div class="laptop">
                        <img src="images/laptop-mockup.svg" alt="Laptop bezel">
                    </div>
                    <div class="platform-showcase-cnt" data-platform="bmt">
                        <img src="images/benefit-manager-toolkit-fullpage.jpg" alt="Benefit Manger Toolkit fullpage
                    screenshot">
                        <div class="text-container">
                            <div class="text-group left active">
                                <div class="text-cnt blue angle top-left">
                                    <p>Benefit Manager Toolkit</p>
                                </div>
                                <div class="text-cnt default-blue">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa.</p>
                                </div>
                            </div>
                            <div class="text-group right">
                                <div class="text-cnt orange angle top-right">
                                    <p>Lorem ipsum dolor sit amet,</p>
                                </div>
                                <div class="text-cnt default-blue">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa.</p>
                                </div>
                            </div>
                            <div class="text-group left">
                                <div class="text-cnt blue angle top-left">
                                    <p>Aliquam lorem ante, dapibus in</p>
                                </div>
                                <div class="text-cnt default-blue">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa.</p>
                                </div>
                            </div>
                            <div class="text-group right">
                                <div class="text-cnt orange angle top-right">
                                    <p>Aliquam lorem ante, dapibus in</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="platform-showcase-cnt in-active" data-platform="provider">
                        <img src="images/benefit-manager-toolkit-fullpage.jpg" alt="Benefit Manger Toolkit fullpage
                    screenshot">
                        <div class="text-container">
                            <div class="text-group left">
                                <div class="text-cnt blue angle top-left">
                                    <p>Provider</p>
                                </div>
                                <div class="text-cnt default-blue">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa.</p>
                                </div>
                            </div>
                            <div class="text-group right">
                                <div class="text-cnt orange angle top-right">
                                    <p>Lorem ipsum dolor sit amet,</p>
                                </div>
                                <div class="text-cnt default-blue">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa.</p>
                                </div>
                            </div>
                            <div class="text-group left">
                                <div class="text-cnt blue angle top-left">
                                    <p>Aliquam lorem ante, dapibus in</p>
                                </div>
                                <div class="text-cnt default-blue">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa.</p>
                                </div>
                            </div>
                            <div class="text-group right">
                                <div class="text-cnt orange angle top-right">
                                    <p>Aliquam lorem ante, dapibus in</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="platform-showcase-cnt in-active" data-platform="iba">
                        <img src="images/benefit-manager-toolkit-fullpage.jpg" alt="Benefit Manger Toolkit fullpage
                    screenshot">
                        <div class="text-container">
                            <div class="text-group left">
                                <div class="text-cnt blue angle top-left">
                                    <p>Individual Business Administration</p>
                                </div>
                                <div class="text-cnt default-blue">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa.</p>
                                </div>
                            </div>
                            <div class="text-group right">
                                <div class="text-cnt orange angle top-right">
                                    <p>Lorem ipsum dolor sit amet,</p>
                                </div>
                                <div class="text-cnt default-blue">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa.</p>
                                </div>
                            </div>
                            <div class="text-group left">
                                <div class="text-cnt blue angle top-left">
                                    <p>Aliquam lorem ante, dapibus in</p>
                                </div>
                                <div class="text-cnt default-blue">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa.</p>
                                </div>
                            </div>
                            <div class="text-group right">
                                <div class="text-cnt orange angle top-right">
                                    <p>Aliquam lorem ante, dapibus in</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="platform-showcase-cnt in-active" data-platform="cst">
                        <img src="images/benefit-manager-toolkit-fullpage.jpg" alt="Benefit Manger Toolkit fullpage
                    screenshot">
                        <div class="text-container">
                            <div class="text-group left">
                                <div class="text-cnt blue angle top-left">
                                    <p>Customer Service Toolkit</p>
                                </div>
                                <div class="text-cnt default-blue">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa.</p>
                                </div>
                            </div>
                            <div class="text-group right">
                                <div class="text-cnt orange angle top-right">
                                    <p>Lorem ipsum dolor sit amet,</p>
                                </div>
                                <div class="text-cnt default-blue">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa.</p>
                                </div>
                            </div>
                            <div class="text-group left">
                                <div class="text-cnt blue angle top-left">
                                    <p>Aliquam lorem ante, dapibus in</p>
                                </div>
                                <div class="text-cnt default-blue">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa.</p>
                                </div>
                            </div>
                            <div class="text-group right">
                                <div class="text-cnt orange angle top-right">
                                    <p>Aliquam lorem ante, dapibus in</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="platform-showcase-cnt in-active" data-platform="ca">
                        <img src="images/benefit-manager-toolkit-fullpage.jpg" alt="Benefit Manger Toolkit fullpage
                    screenshot">
                        <div class="text-container">
                            <div class="text-group left">
                                <div class="text-cnt blue angle top-left">
                                    <p>Core Administration</p>
                                </div>
                                <div class="text-cnt default-blue">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa.</p>
                                </div>
                            </div>
                            <div class="text-group right">
                                <div class="text-cnt orange angle top-right">
                                    <p>Lorem ipsum dolor sit amet,</p>
                                </div>
                                <div class="text-cnt default-blue">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa.</p>
                                </div>
                            </div>
                            <div class="text-group left">
                                <div class="text-cnt blue angle top-left">
                                    <p>Aliquam lorem ante, dapibus in</p>
                                </div>
                                <div class="text-cnt default-blue">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa.</p>
                                </div>
                            </div>
                            <div class="text-group right">
                                <div class="text-cnt orange angle top-right">
                                    <p>Aliquam lorem ante, dapibus in</p>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div id="other-platforms" class="other-platforms row">
                        <div class="other-platforms-hdr col-xs-12">
                            <h2 class="animated animated-center">View Other Roosevelt Applications</h2>
                        </div>

                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="other-platforms-card" data-platform="bmt">
                                        <div class="card bmt">
                                            <div class="image-cnt">
                                                <img src="images/solution-platforms/benefit-manager-toolkit-screenshot.jpg" alt="Benefit Manager Toolkit screenshot">
                                            </div>
                                            <div class="text-cnt">
                                                <h3>Benefit<br>Manager Toolkit</h3>
                                            </div>
                                            <div class="cta-overlay">
                                                <div class="cta-overlay-inner">
                                                    <button class="button solution-btn" data-platform="bmt">Learn More</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="other-platforms-card" data-platform="provider">
                                        <div class="card provider">
                                            <div class="image-cnt">
                                                <img src="images/solution-platforms/provider-summary-screenshot.jpg" alt="Provider Summary screenshot">
                                            </div>
                                            <div class="text-cnt">
                                                <h3>Provider</h3>
                                            </div>
                                            <div class="cta-overlay">
                                                <div class="cta-overlay-inner">
                                                    <button class="button solution-btn" data-platform="provider">Learn More</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="other-platforms-card" data-platform="iba">
                                        <div class="card iba">
                                            <div class="image-cnt">
                                                <img src="images/solution-platforms/individual-business-administration-screenshot.jpg"
                                                    alt="Individual Business Administration screenshot">
                                            </div>
                                            <div class="text-cnt">
                                                <h3>Individual<br>Business<br>Administration</h3>
                                            </div>
                                            <div class="cta-overlay">
                                                <div class="cta-overlay-inner">
                                                    <button class="button solution-btn" data-platform="iba">Learn More</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="other-platforms-card" data-platform="cst">
                                        <div class="card cst">
                                            <div class="image-cnt">
                                                <img src="images/solution-platforms/customer-service-toolkit-screenshot.jpg" alt="Customer Service Toolkit">
                                            </div>
                                            <div class="text-cnt">
                                                <h3>Customer<br>Service Toolkit</h3>
                                            </div>
                                            <div class="cta-overlay">
                                                <div class="cta-overlay-inner">
                                                    <button class="button solution-btn" data-platform="cst">Learn More</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="other-platforms-card" data-platform="ca">
                                        <div class="card ca">
                                            <div class="image-cnt">
                                                <img src="images/solution-platforms/core-administration-screenshot.jpg" alt="Core Administration screenshot">
                                            </div>
                                            <div class="text-cnt">
                                                <h3>Core<br>Administration</h3>
                                            </div>
                                            <div class="cta-overlay">
                                                <div class="cta-overlay-inner">
                                                    <button class="button" data-platform="ca">Learn More</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide placeholder"></div>
                                <div class="swiper-slide placeholder"></div>
                            </div>
                            <div class="swiper-button-prev">
                                <span>Previous Slide</span>
                                <img src="images/swiper-nav.svg" alt="previous slide">
                            </div>
                            <div class="swiper-button-next">
                                <span>Next Slide</span>
                                <img src="images/swiper-nav.svg" alt="next slide">
                            </div>
                        </div>
                    </div>

                    <div class="contact">
                        <div class="col-xs-12">
                            <div class="contact__accent">
                                <div class="contact__accent-wrap contact__accent-wrap--1">
                                </div>
                                <div class="contact__accent-wrap contact__accent-wrap--2">
                                    <img src="images/roosevelt-bg-logo.svg"
                                         class="contact__accent__img">
                                </div>
                            </div>
                            <div class="contact__mask">
                                <h2 class="contact__hdr animated">
                                    <span class="orange">Questions?</span><br>
                                    Contact the Roosevelt Team:
                                </h2>

                                <div class="contact__person animated">
                                    <h3 class="contact__name">Toby Hall</h3>
                                    <p class="contact__info"><span class="bold">SVP,</span> Chief Actuary and Chief Data
                                        Officer</p>
                                    <p class="contact__info">P: 517-347-5437 / E: thall@deltadentalmi.com</p>
                                </div>
                                <div class="contact__person animated">
                                    <h3 class="contact__name">Brad Ross</h3>
                                    <p class="contact__info">VP, Product Management</p>
                                    <p class="contact__info">P: 517-347-5489 / E: bross@deltadentalmi.com</p>
                                </div>
                                <div class="contact__person animated">
                                    <h3 class="contact__name">Ben Baenen</h3>
                                    <p class="contact__info">Product Development and Strategy</p>
                                    <p class="contact__info">P: 260-249-9881 / E: bbaenen@deltadentalmi.com</p>
                                </div>

                                <div class="contact__img">
                                    <img src="./images/woman-laptop.jpg" alt="Women smiling at laptop">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{{> ../footer/_footer}}
{{> ../footer/_foot}}