//
// Name:            Footer
//
// Description:     Contains all footer styles
//
// ========================================================================
// Component: Footer
// =========================================================================

.footer {
  background: #202224;
  padding: 95px 3.3vw 3.3vw;

  .col-xs-12 {
    margin-bottom: 143px;

    &:last-child {
      margin-bottom: 0;
    }

    .logo {
      position: relative;

      span {
        width: 100%;
        height: 100%;
        display: inline-block;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &.copyright {
      text-align: right;

      p {
        font-size: 14px;
        color: #8F8F8F;
        letter-spacing: 0;
        text-align: right;
      }
    }
  }
}
