//
// Name:            Layout
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//
// ========================================================================
// Component: Base
// ========================================================================
.main {
  padding: 0;
  position: relative;
  z-index: 99;
}

.wrapper {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none!important;
}