//
// Name:            Fonts
//
// Description:     Contains all fonts
//
// ========================================================================
// Component: Fonts
// ========================================================================
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Book.woff2') format('woff2'), url('../fonts/Gotham-Book.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-BookItalic.woff2') format('woff2'), url('../fonts/Gotham-BookItalic.woff2') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Medium.woff2') format('woff2'), url('../fonts/Gotham-Medium.woff2') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-MediumItalic.woff2') format('woff2'), url('../fonts/Gotham-MediumItalic.woff2') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.woff2') format('woff2'), url('../fonts/Gotham-Bold.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-BoldItalic.woff2') format('woff2'), url('../fonts/Gotham-BoldItalic.woff2') format('woff');
  font-weight: bold;
  font-style: italic;
}