//
// Name:            Resets
//
// Description:     Contains all base styles, including basic resets
//

// ========================================================================
// Component: Base
// ========================================================================

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }

  &:focus {
    outline: none!important;
  }
}

:last-child {
  margin-bottom: 0;
}

:first-child {
  margin-top: 0;
}

// Links
// ========================================================================

a {
  background-color: transparent;
}

// Style
a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

// Text-level semantics
// ========================================================================


// Images
// ========================================================================


// Block elements
// ========================================================================


// Headings
// ========================================================================


// Lists
// ========================================================================


// Description lists
// ========================================================================


// Horizontal rules
// ========================================================================


// Address
// ========================================================================


// Blockquotes
// ========================================================================



// Preformatted text
// ========================================================================



// HTML5 elements
// ========================================================================

