//
// Component:       Variables
// Description:     Defines all color and style related values as variables
//                  to allow easy customization for the most common cases.
//
// ========================================================================
// ========================================================================
// Component: Variables
// ========================================================================
// Colors
$color-white: #FFFFFF;
$color-black: #000000;
$roosevelt-blue: #124980;
$roosevelt-blue-light: #4D74B0;
$roosevelt-blue-dark: #102B52;
$roosevelt-orange: #FFA200;
$roosevelt-orange-light: #FFD349;
$roosevelt-orange-dark: #FF9800;