<footer class="footer">
    <div class="row">
        <div class="col-xs-12">
            <a class="logo" href="/">
                <span>Powered by Roosevelt</span>
                <img src="images/powered-by-roosevelt.svg" alt="roosevelt logo">
            </a>
        </div>
        <div class="col-xs-12 copyright">
            <p>&copy;2019 Roosevelt. All Rights Reserved.</a>
            </p>
        </div>
    </div>
</footer>